.header{

    text-align: center;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
  
.container{
        background-color: lightgoldenrodyellow;
    }

.akan {
        background-color: pink;
        font-size: larger;
        text-align: center;
        padding: 20px;
        
        
        }
    
.row{
            display: flex;
            
        }
        
.column{
            flex: 50%;
        }

.function{
            text-align: left;
            padding: 20px;
            background-color: greenyellow;
        
        }

.app{

            background-color: rgb(206, 255, 126);
            text-align: left;
            font-size: larger;
            padding: 20px;
        
        }

.try{
            text-align: center;
            background-color: mediumpurple;
            padding: 20px;
            
        }

.fill{
            text-align: center;
}

.result {

    text-align: center;
    padding: 50px;
    background-color: lightblue;
    color: orange;
    font-size: xx-large;

}    